[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
pycodestyle = "*"
isort = "*"
black = "==19.10b0"
bandit = "*"
flake8-assertive = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-logging-format = "*"
flake8-eradicate = "*"
flake8-bugbear = "*"

[packages]

[requires]
python_version = "3.7"
